<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <header><h1>Fibonacci Calculator</h1></header>
    <div>
      <h2>Your input</h2>
      <form method="post">
        <input type="text" name="value" />
        <input type="submit" />
      </form>
      <h3>Result {{.Result}}</h3>
    </div>
    <div>
      <h2>Indexes calculated(from postgres) {{.PostgresResult}}</h2>
    </div>
    <div>
      <h2>All of the results(from redis) {{.RedisResult}}</h2>
    </div>
  </body>
</html>
